/* General */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Encabezado */
header {
    background-color: #f08080;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header .logo img {
    height: 150px;
}

header h2 {
    font-size: 1.5em;
}

header .perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .perfil img {
    height: 40px;
    border-radius: 50%;
}

/* Menú Lateral */
aside {
    background-color: #d3d3d3;
    width: px;
    height: 00vh;
    padding: 00px;
    position: fixed;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside li {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Sección Principal */
main {
    margin-left: 220px;
    padding: 20px;
}

main h1 {
    font-size: 2em;
    color: #333;
}

main h3 {
    font-size: 1.2em;
    color: #555;
}

.mascotas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.mascota {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mascota h4 {
    margin: 0;
    font-size: 1.5em;
    color: #a50909;
}

.mascota p {
    color: #666;
}

/* Pie de Página */
footer {
    background-color: #f08080;
    padding: 20px;
    text-align: center;
    color: white;
}

.footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}

.card {
    background-color: #f4f4f4;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.card p {
    font-size: 14px;
    text-align: justify;
}

aside ul li:hover {
    background-color: #f0f0f0;
    color: crimson;
}

a {
    text-decoration: none;
    color: inherit;
}  